.toBox {
  padding: 10px 20px 15px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.title {
  font-size: 15px;
  color: gray;
  margin-right: 25px;
}

.receivers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 4px;
}