.toBox {
  padding: 5px 20px 15px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
}

.title {
  font-size: 15px;
  color: gray;
  margin-right: 25px;
}

.receivers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.verified {
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
}

.verifiedWrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border-radius: 5px;
}

.verifiedWrapper:hover {
  background: #eee;
}

.cross {
  visibility: hidden;
  padding: 0 5px;
}

.verifiedWrapper:hover>i {
  visibility: visible;
}

.unverified {
  font-size: 14px;
  font-weight: 700;
  padding: 5px;
}

.exclamation {
  font-size: 12px !important;
  padding: 1px 5px;
  background: #F24E1E;
  color: white;
  border-radius: 8px;
}

.unverifiedWrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 5px;
  background: #ffcccc;
  border-radius: 5px;
}
